@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.headerHome{
    border-radius: 0;
    border-right: 1px solid #E7F0F2;
    li{
        border:none;
    }
    color: #E7F0F2;
}
.NewConcept{
    border-radius:0;
    
}
.BorderP-Lorem{
    border-right:  1px solid #E7F0F2;
    height: 0px;
    width: 241px;
}
.card{
    border-radius: 0;
    float: right;
    display: flexbox;
    width: 100%;   
}
.card-List{
    margin-top: 0px;
    padding-top:40px;
    border: 1 px solid black;
}
.card-title-List{
  color:#000000;
  margin-left:0px;
  margin-top:0px;
  text-align:right;

}
.card-text-List{
   color:#000000;
   margin-left:0px;
   margin-top:0px;
}
.card-title{
    margin-top:50px;
    margin-left:0px;
}
.card-text{
    margin-top:0px;
    margin-left:0px;
}
.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.fontGoBack{
    color: black;
    font-size:12px;
}
.picture{
    float:left;
    height:auto;
}
.textcontent{
    float:right;
    height:auto;
    
}
.del{
    font-size:15px;
    color:grey;
}
.size{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}
.select1{
    font-size: 20px;
    border: none;
}
.mens{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);
  margin-left: 500px;
  width:100%;

}
.row{
    width: 100%;
    flex:auto;
}
.col-6-text-content{
    width:none;
}
.justify-content-end Goback{
    justify-content: flex !important;
    width: 100%;
    margin-left: 90px;
}
.fontGoBack{
    margin-left:40px;
    width: 100%;
    color: #E7F0F2;
    font-size:12px;
}
.istyle{
    width: 100%;
    margin-left: 90px;
}

.headerright{
    float: right;
}
.headerleft{
    float:left;
    font-size: 36px;
    color:#000000;
}
.margin-featured{
    margin-top: 180px;
    border-left:1px solid #E7F0F2 ;
    padding-left: 10px;
    margin-right: 20px;
}
.contentright{
    float:right;
    margin-top:20px;
    border-right: #E7F0F2 1px;
}
.col-8-your{
    width:none;
}
.fontproduct{
    color:#E7F0F2;
    background-color:#E7F0F2;
}
.stylefasearch{
  background-color:white;
  cursor:pointer;
  color:#000000;
}
.stylefashoping{
    border-radius:none;
    background-color:white;
    cursor:pointer;
    border: none;

}
.borderall{
    border-right: #E7F0F2 1px solid;
    height: 140px;
    position: absolute;
    padding-right:10px;
    margin-top:20px;
}
.input-group-text {
    border: none;
    border-radius: none;
    background-color: none;
    display: flow-root;  
}
.A{
    color: #000000;
    text-decoration: none;
    
}
.Adetail{
    color:#000000;
    border: none;
    border-radius: none;
    background-color: white;
}
.Logout{
    text-align:center;
    color:hwb(0 0% 100% / 0.781);
    height: 100%;
    width:100%
}
.Status{
    text-align:center;
    float:center;
    size:500px
}
.card-addtocart{
    size: 500px;
    text-align: center;
    float:center;
}
.card-detail1{
    height: 280px;
    width: 200px;
    border-color: #000000;
    background-color: #0000008c;
}
.card-body-detail1{
    height:280px;

}
.card-img-detail1{
    height:105px;
}
.card-title-detail1{
    font-size:17px;
}
.card-text-detail1{
    font-size:15px;
}
.d-flex-detail1{
    margin-top: 50px;
}
.row-detail1{
     margin-top: 0px;
}
.margin-detail1{
    margin-top:20px;
}
.Status.color{
    background-color: rgb(247, 247, 15);

}
.logo{
    float:left;
}
.logo1{
    float:right;
}
.iya{
    float:right;
    
}
.tidak{
    margin-right:60px;
}
.status.padd-ahref-house{
    padding-left: 200px;
}
.status.padd-ahref-bell{
    padding-left:50px;
}
.status.padding-left-cicle{
    padding-left:50px;
}
.color-back{
    background-color: rgba(59, 130, 246,0.5);
}
.col-8{
     padding-left:20px;
}
.cardstatus{
    padding-right: 400px;
}
.card-title-status {
    padding:0;
    margin:0
}
.a{
    color:#000000
}
.element{
    padding-right:400px
}
.col-12-card{
    padding-right:400px;
}
.maincontainer{
    display: flex;
    align-items: center;
    flex-direction:column;
    height:80vh;
    width:30vw;
    background-color:0 0px 32px 0 rgba(255,255,255,0.15);
    border-radius: 10px;
    color:#ffff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}
.body {
    background:url("/img.css/pattern-vintage.png");
    background-size:contain;
    background-position:top;
    background:cover;
}
.Img-status{
    background-image: url(./img.css/pattern-vintage.png);
}
.main{
    text-align:center;
    justify-content:center;
    display:flex;
    padding: 90px 0 90px 0;
    background-image: linear-gradient(-45deg, #F2EEE3, #E9D1D0, #FAE0BA, #EB8C73,#F0DED1,#DEC4A7);;
   height:100%;
}
.sub-main{
    display:flex;
    justify-content:center;
    height:550px;
    width:30%;
    // box-shadow: 11px 12px 13px 12px rgb(207,207,207);
    padding-top:30px;
    border-radius:60px;
    background: linear-gradient(-45deg, #F2EEE3, #d3c8c8, #eeebe7, #e8dfdd,#d7d2ce,#f6f4f3);;
}
.imgs{
    padding-top:20px;
    justify-content:center;
    display:flex;
}
.container-image{
    background-color:rgb(221,221,221);
    border-radius: 150px;
    align-items: center;
    display:flex;
    height:115px;
    width: 115px
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 130px;
}
.input{
    width:300px;
    height:50px;
    border-radius:60px;
    box-shadow:insert 0px 0px 25px 0px #888;
    margin-left:50px;
    margin-bottom:200px
}
.button-log{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color:rgb(216, 203, 203);
    background-color: #b103fc;
    font-size:25px;
    border:none;
    margin-left:20px;
    margin-bottom:20px;
    align-items: center;
}
.mb-3 mt-3{
  margin-left:60px;
  padding-left: 20px
}
.mb-3{
    margin-left:30px;

}
.border-checkout{
    border-bottom: #000000;
}
.card-body{
    background-color:#cff2ec;
    color:#262829
}
.color-checkout{
    background-color: #E7F0F2;
}

.mainregis{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.maincontainerregis{
   padding: 0;
   margin: 0;
   background-image: url(./img.css/Central-Park.jpg);
   background-size:cover;
}
.overlay{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-image: url(./img.css/Toko-Baju.jpg);
}
.box{
    position:absolute;
    width:450px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 15px;
    
}
.header{
    background-image: url(./img.css/Central-Park.jpg);
    width:400px;
    background-size:cover;
    padding: 0px 20px;
    height: 100px;
    color:white;
}
.header p{
    font-size: x-small
}
.login-area{
    text-align: center;
    padding: 0px 50px 0px 50px;
    height: 350px;
    margin-right:50px;
    background-color: #E7F0F2;
}
.username-regis
.password-regis{
    width:100%;
    text-align:center;
    padding: 13px 0;
    outline: none;
    border:none;
    color:white;
    background-color: rgba(55, 10, 114, .5);
    margin-bottom: 15px;
    transition: 0,5s;
}
.username-regis::placeholder,
.password-regis::placeholder {
    color: rgba(255, 255, 255, .7)
}

.sub-main-regis{
    display:flex;
    justify-content:left;
    height:25vh;
    width:40%;
    box-shadow: 11px 12px 13px 12px rgb(207,207,207);
    padding-top:30px;
    border-radius:60px;
    background-color: white;
    backdrop-filter: blur(8.5px);
    border-radius:10px;
    color:#ffff;
    text-transform: uppercase;
    letter-spacing:0ch.4rem;
    flex-direction: column;

}
.Border-addtocart{
    border-bottom: solid 1px #000000;
    

}
.username::placeholder,
.password::placeholder {
  color: rgba(255, 255, 255, .7);
}
.username:focus,
.password:focus{
    background-color: rgba(55, 10, 114);
}
.btn-primary-regis{
    margin-top: 20px;
    margin-left: 30px;
    background-color: #0d6efd;
    color:white
}
.btn{
    background-color: #0d6efd;
}
label{
 display:block;
 width:100%;
 cursor:pointer;
}
input-addtocart{
    position:absolute;
    transform: scale(0);
}
input:checked ~ .checkbox {
    transform: rotate(45deg);
    width:10px;
    margin-left: 16px;
    border-color:#24c78e;
    border-top-color: transparent;
    border-left-color:transparent;
    border-radius:0;
}
.checkbox{
    display: block;
    width: inherit;
    height: inherit;
    border: 1px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}
.btn-primary-detail1{
    margin-left:40px;
    background-color: #fcba03;
}
.btn detail-1{
    background-color: #fcba03;
}
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin:0;
    padding:0;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2eee3;
}
a
{
  text-decoration:none;   
}
.product-card {
    // width: 250px;
    position: relative;
    //box-shadow: 0 2px 7px #dfdfdf;
    //margin: 50px auto;
    background: #fafafa;
    display:grid;
    // 
    padding-bottom:20px;
    padding-top:20px
}
.badge{
    position: absolute;
    left:0;
    top:20px;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 700;
    background:red;
    color:#fff;
    padding:3px 10px;
}
.product-tumb{
    display: flex;
    align-items: center;
    justify-content: center;
    height:250px;
    padding:50px;
    background:#f0f0f0;
}
.product-tumb img{
    max-width: 100%;
    max-height: 100%;
}
.product-details{
    background:rgba(122, 227, 90, 0.895);
}
.product-category{
    display: block;
    font-size: 12px;
    font-weight:700;
    text-transform: uppercase;
    color: rgb(19, 18, 18);
    margin-bottom: 18px;
    text-align:right;
}
.product-details h6 a {
    font-weight: 500;
    display:block;
    margin-bottom:18px;
    text-transform: uppercase;
    color:#363636;
    text-decoration:none;
    transition:0.3s;
}
.product-details h6 a:hover {
    color:red
}
.product-details p {
    font-size:15px;
    line-height:22px;
    margin-bottom:18px;
    color: #999;
}
.product-bottom-details{
    overflow:hidden;
    border-top:1px solid rgb(17, 16, 16);
    padding-left:20px
}
.product-bottom-details div{
    float:left;
    width:50%;
}
.product-price{
    font-size:18px;
    color:red;
    font-weight: 600;
}
.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}
.product-links{
    text-align: right;
    padding-right:20px
}
.product-links a{
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}
.product-links a:hover{
    color:red;
}
.card-home{
    position:relative;
    width:200px;
    background-color: #bb93fc;
    color: #242329;
    text-align: center;
    border: 5px solid #fff;
    overflow:hidden;
}
.card__data{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateY(-250px)
}
.card__img{
    width:200px;
    height:200px;
    display: flexbox;
    object-fit: cover;
    transition: transform .25s .35s;
}
.card__title{
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    background-color: rgba(2, 8, 14, 0.868);
    margin-top:25px;
}
.card__description{
   padding:0
}
.card__btn{
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #242329;
    background-color: #fff;
    transition: background-color .25s;
    
}
.card__btn:hover{
    background-color: #242329;
    color:#fff;
}
.card-home:hover .card__data {
    transform: translateY(0px);
}
.card-home:hover .card__img{
    transform: translateX(250px);
    transition-delay: 0s;
}
.add-minus-quantity{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
}
.add-minus-quantity input{
    width: 50px;
    height:50px;
    box-sizing: border-box;
    font-style: normal;
    font-weight:normal;
    font-size:1.6rem;

}
.cart-items-container{
    width: 90%;
    height: 56rem;
    overflow-y:scroll;

}
.cart_box div:nth-child(2) button{
    padding: 5px 10px;
    font-weight: bold;
    margin-right:5px;
}
.img-cart{
   width: 100px;
   height: 100px;
   
}
.align-midle{
    width:100%
}
.form-control-listcart{
    border: 1px solid var(--text-color);
    outline-color:var(--main-color);
    width:5rem;
    text-align:center;
    font-size: 3rem;
}
.total{
    display: flex;
    justify-content:flex-end;
    margin-top:1,5rem;
    border-top: black solid 1px var(--text-color)
}
.fontcolorcart{
    color: white;
}
.image-round{
    display:block;
    width:50px;
    height:50px;
    overflow: hidden;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius:180px;
    -o-border-radius:180px;
    border-radius:180px;
    position:relative;
    margin:100px auto;
    text-align:left;
    margin-bottom:10px;
    border: 3px solid #FFF;
}
.img-round-1{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border:0;
}
.background-card-img-detail{
    
    justify-content:left;
    align-items: left;
    background-image: linear-gradient(160deg, #8035f0 0%, #3bd9d9 50% );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-detail{
    // width: 100%;
    
    border-radius:8px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.2);
    border-right-color: rgba(255,255,255,0.1) ;
    border-bottom-color:rgba(255,255,255,0.1);
    box-shadow:0 20px 30px rgba(0,0,0,0.05);
    padding: 16px;
    justify-content:left;
    align-items:left;
    flex-direction:column;
}
.card-detail
.card-detail * {
    box-sizing: border-box;
    transition: 400ms;
}
.card-img-detail img {
    display: block;
    width: 100%;
    height:auto;
}
.card-detail:hover card-img-detail{
    transform: translateY(-48px);
}
.card-detail:hover card-img-detail img{
    transform: translate(-16px, -42px) rotate(-16deg) scale(1.4)
}
.card-detail:hover .card-content{
    opacity: 1;
}
.slide-home{
    display:flex;
}
.table-menu{
color:white;
text-align:center; 
}
.table-menu .td:hover{
    background-color: grey;
}
.html-login{
    height: 100%
}
.body-login{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:#f2eee3;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,1);
    box-sizing:border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius:10px;
    height: 500px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align:center;
}
.login-box .user-box{
    position:relative;
}
.login-box .user-box label{
    position:absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input{
    width:100%;
    padding:10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom:30px;
    border:none;
    border-bottom:1px solid #fff;
    outline: none;
    background: transparent;
    cursor: pointer;


}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size:12px;
}
.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: -5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a:hover{
    background: #03e9f4;
    color:#fff;
    border-radius:5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
.login-box a span{
    position:absolute;
    display: block;
}
.login-box a span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background:linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
.login-box a span:nth-child(2){
    top:-100%;
    right:0%;
    width:2px;
    height:100%;
    background:linear-gradient(180deg, transparent, #03e9f4);
    animation:btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.login-box a span:nth-child(3){
    bottom:0;
    right:- 100%;
    width:100%;
    height:2px;
    background:linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.login-box a span:nth-child(4){
    bottom: -100%;
    right: 0;
    width:2px;
    height:100%;
    background:linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
* {
 padding: 0;
 margin: 0;
 font-family: 'Montserrat', sans-serif;
}
.html-menu{
    scroll-behavior: smooth;
}
.body-menu{
    background: #161262;
}
.container-menu{
    position:relative;
    width: 100%;
}
.container-menu ul{
    position: relative;
    top: 0;
    left: 0;
    background: #262626;
    width: 100%;
    height:60px;
    z-index:10;
}
.container-menu ul li{
    list-style: none;
    width: calc(100%/5);
    height: 100%;
    float:left;
}
.container-menu ul li a{
    display: inline-block;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 60px;
    text-decoration:none;
    text-transform: uppercase;
    color: #fff;
}
.container-menu ul li a:hover{
    background: #ff5722;
}
.body-background{
    background: linear-gradient(-45deg, #F2EEE3, #E9D1D0, #FAE0BA, #EB8C73,#F0DED1,#DEC4A7);
    background-size: 400% 400%;
    animation:gradient 15s ease infinite;
    height:100vh;
    
}
@keyframes gradient{
    0%{
      background-position:0% 50%;
    }
    50%{
        background-position:0% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

 .body-background .h1{
    text-align: center;
    color:#EB8C73;
}
.title span{
    --total:calc(var(--duration)
    +var(--delay));
    position: relative;
    display:block;
    color:transparent;
    overflow: hidden;
    animation: revealText 1s
    var(--total) forwads;
}
@keyframes revealText{
    to{
        color:#fff
    }
}
.title span ::after{
    content: "''";
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    transform:scaleX(0);
    transform-origin:left;
    background:#bb93fc;
    animation: rollIn var(--duration)
    var(--delay) forwards
    rollout var(--duration)
    var(--total) forwads;
}
@keyframes rollIn{
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(1);
    }
}
@keyframes rollout{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(105%);
    }
}
.title span:nth-child(2)::after{
    border-top:3px solid #896ab9
}
.margin-top-checkout{
    margin-top:60px;
}
.table-responsive th{
    background:linear-gradient(#2474b5,#6ab9b1)
}
.table-responsive tbody{
    background-color:rgba(31, 28, 28, 0.886);
    color:rgba(70, 236, 192, 0.8);
    border:none;
}
.table-responsive tbody tr td.button{
    background-color:yellowgreen;
    height: 15px;
    border-radius: 10px;
    font-size:16px;
    border:none;
    align-items: center;
    width:50px
}

.button-regis{
    height: 35px;
    border-radius: 50px;
    color:rgb(248, 248, 248);
    background-color: #03e9f4;
    font-size:16px;
    border:none;
    align-items: center;
    width:150px
}
.background-logout{
    background: linear-gradient(60deg, rgba(84,58,183,1)0%,rgba(0,172,193,1)100% ) ;
    height: 100%;
    width:100%
}

.main-confirmshop{
    text-align:left;
    // padding: 90px 0 0 0;
    // background-image: linear-gradient(#03a9f4,#f2eee3);
    
}
.main-logout{
    text-align:left;
    background: linear-gradient(60deg, rgba(84,58,183,1)0%,rgba(0,172,193,1)100% ) ;
    height: 100%;
    width:100%;

}
.sub-main-logout{
    height:550px;
    padding-top:150px;
}
.Table-striped-bordered tbody td{
     background: linear-gradient(50deg, rgba(248, 179, 52, 0.918)0%,rgba(225, 222, 44, 0.84)100% );
}






  

